body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #CBC8C8;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100vw;
  min-height: 100vh;
  font-family: sans-serif;
}

main > header {
  background-color: transparent;
  color: #1C1C1C;
  width: 100%;
  padding: 10px 40px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main > header > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

main > header > div > h1 {
  margin: 0 20px;
}

main > header > div > img {
  max-width: 80px;
  height: auto;
}

main > header > div > a,
main > header > div > a:visited {
  color: #1C1C1C;
  transition: ease all 0.1s;
}

main > header > div > a:hover {
  color: #962F2B;
}

main > header > div svg {
  width: 100%;
  max-width: 40px;
  height: auto;
}

main > article.container {
  flex: 1;
  background-color: #CBC8C8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding:  0 40px 40px;
  box-sizing: border-box;
}

main > article.container > section {
  flex: 1;
  transition: ease-in-out all 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

main > article.container > section > header {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}

main > article.container > section svg {
  max-width: 60px;
  color: #962F2B;
}

main > article.container > section > div {
  flex: 1;
  background-color: #344B55;
  color: #CBC8C8;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: ease all 0.2s;
  padding: 35px;
  box-sizing: border-box;
}

main > article.container > section.competitor {
  margin-right: 40px;
}

main > article.container > section:hover > div {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transform: scale(1.008);
}

main > article.container .title {
  margin: 0 0 20px;
}

main > article.container > section > div > .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

main > article.container > section > div > .row > .column {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 20px 20px 0;
}

main > article.container > section > div label.free-text-label {
  margin-right: 10px;
}

main > article.container > section > div label.radio-label {
  cursor: pointer;
  margin-bottom: 4px;
}

main > article.container > section > div label.free-text-label + input[type=text] {
  margin-right: 20px;
  width: 100px;
}

main > article.container > section > div input[type=text] {
  padding: 6px 8px;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 2px;
  outline: none;
  transition: ease all 0.2s;
  font-size: 14px;
}

main > article.container > section > div input[type=text].invalid {
  border-color: red;
  color: red;
}

main > article.container > section > div .score-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #CBC8C833;
  border-radius: 4px;
}

main > article.container > section > div .score-container .score-bubble {
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  background-color: #CBC8C8;
  color: #344B55;
  margin: 0 8px 8px 0;
}

main > article.container > section > div .score-container .score-bubble:last-of-type {
  margin-right: 0;
}

main > article.container > section > div .score-container .score-bubble > span {
  font-size: 18px;
  font-weight: bold;
  margin-right: 8px;
}

@media only screen and (max-width: 950px) {
  main > header {
    padding: 10px 20px;
  }

  main > header > div > h1 {
    margin: 0 20px;
    font-size: 1.4em;
  }

  main > article.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding:  0 20px 40px;
    box-sizing: border-box;
  }

  main > article.container > section.competitor {
    margin-right: 0;
  }

  main > article.container > section svg {
    max-width: 40px;
    color: #962F2B;
  }
}
