.score-bubble {
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  background-color: #CBC8C8;
  color: #344B55;
  margin: 0 8px 8px 0;
}

.score-bubble:last-of-type {
  margin-right: 0;
}

.score-bubble > span {
  font-size: 18px;
  font-weight: bold;
  margin-right: 8px;
}
